.page {
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: 'Varela', sans-serif;
}

.line1 {
  height: 40vh;
  width: 55vw;
  background-color: rgb(97,154,216);
  margin-top: 2vw;
}

.biotechTitle {
  font-size: 10em;
  margin-top: -230px;
  line-height: 120px;
  font-family: 'Frank Ruhl Libre', serif;
}

.myTake {
  text-align: left;
  margin-left: 200px;
  color: white;
}

.biotechTitleDescription {
  font-size: 0.18em;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0px 495px;
}

.biotechContent {
  margin-top: -30px;
  padding: 0px 100px;
}

/* rgb(97,154,216) */
/* rgb(61, 104, 137) */