/* 
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61 
*/

.page {
  height: 97vh;
  background-color: var(--design-bg);
  color: var(--design-blue);
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.designTitle {
  color: var(--design-red);
  font-size: 3em;
  margin-bottom: 70px;
}

.startButton {
  background: none;
  border: none;
  color: inherit;
}

.startButton:hover {
  text-decoration: underline;
}

.header {
  color: var(--design-red);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 0px 30px 0px;
}

.page2 {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: relative;
  animation: mymove 2s;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 60px 0px 60px;
}

.border {
  border: 4px solid rgb(175, 175, 175);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px 50px;
}

.MBDayFlyer {
  height: 70vh;
  width: 28vw;
  cursor: pointer;
}

.MBDayBanner {
  width: 50vw;
  height: 22vh;
  cursor: pointer;
}

.MBDayFomites {
  margin: 30px 30px 0px 60px;
  height: 43vh;
  cursor: pointer;
}

.drone {
  margin: 30px 0px 0px 0px;
  height: 43vh;
  cursor: pointer;
}

.designModal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 30px;
}

.imagePreview {
  max-height: 90vh;
  max-width: 55vw;
}

.swipe4More {
  text-align: right;
  padding: 20px 60px 0px 0px;
  color: rgba(172, 59, 97, 0.644);
}

.IMUCupBanner {
  height: 61vh;
  width: 14vw;
  margin: 0 15px;
  cursor: pointer;
}

.IMUCupBanner2 {
  height: 61vh;
  width: 14vw;
  margin: 50px 15px 0px 15px;
  cursor: pointer;
}

.innerPage {
  padding: 0px 50px;
}

.Homecoming {
  height: 65vh;
  margin: 15px 20px;
  cursor: pointer;
}

.Homecoming2 {
  height: 60vh;
  margin: 20px 50px;
  cursor: pointer;
}

@keyframes mymove {
  from {left: 200px; opacity: 0.2}
  to {left: 0px; opacity: 1}
}