.main {
  width: 100vw;
  height: 97vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(223, 222, 222);
}

@media only screen and (max-width: 600px) {
  .diamonds {
    overflow-x: scroll;
  }
}

header {
  font-size: 2em;
  margin-bottom: 40px;
}

.logo {
  height: 25vh;
}

.myName {
  font-size: 0.8em;
  letter-spacing: 0.3em;
  color: white;
}

.diamonds {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.diamond {
  height: 130px;
  width: 130px;
  transform: rotate(45deg);
  transform-origin: 0 70%;
  border: 1px solid white !important;
  background: none !important;
  color: rgb(223, 222, 222);
  text-decoration: none;
}

.diamond:hover {
  background-color: white !important;
  color: black !important;
}

.smalldiamond {
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
  transform-origin: 0 70%;
  border: 3px double white;
}

.text {
  transform: rotate(-45deg);
  margin-left: -10px;
  margin-top: 5px;
}

.text span {
  font-size: 1.5em;
  line-height: 50px;
}

.or {
  line-height: 20px;
  margin: 35px 0px 0px 0px;
}

.profile {
  background-color: transparent !important;
  border: none !important;
}

.profile:hover {
  text-decoration: underline !important;
}